h1 {
    color: rgb(147, 147, 147);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
  
}

h3 {
    color: rgb(147, 147, 147);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
    border-bottom: 1px solid rgb(61, 58, 58);
    padding-bottom: 30px;
}

html {
    height: 100%;
}

body { 
    height: 100%;
    width: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(#262728, #6b767b);
}

#container {
    padding: 1%;
    margin-bottom: 5px;
    height: 30px;
    width: 170px;
    background-color: rgb(142, 137, 137);
    border-radius: 20px;
    display:inline-block; /*så "antal:" og "1" står på samme række*/
    padding-left: 10px;
    margin-left: 270px;
}

#container-button {
    padding-top: 10px;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

#number {
    text-align: center;
    height: 25px;
    width: 25px;
    color: rgb(37, 36, 36);
    font-size: 20px;
    /*padding-left: 10px;*/
    /*margin: 15px;*/
    text-align: left;
    display: inline;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#increment {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    border: 5px white;
    background-color: rgb(37, 36, 36);
    color: white;
    font-size: 2rem;
    margin: auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
}

#increment .material-icons {
    padding-top: 30px;
    font-size: 150px;
    color: rgb(135, 135, 143);
}

#increment:hover {
    background-color:rgb(30, 30, 33);
}

#increment:active {
    background-color: rgb(2, 2, 2);
}

#reset {
    height: 30px;
    width: 100px;
    border-radius: 20px;
    /*margin: 25%;*/
    border: 0px;
    font-size: 1.2rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    text-align: center;
    cursor: pointer;
    background-color: rgb(37, 36, 36);
    color: rgb(147, 147, 147);
    display: inline-block;
    
}

#reset:active {
    color: rgb(42, 40, 40);
    background-color: rgb(133, 131, 131);
}

#number {
    font-size: 1.2rem;
}

   /*side nav*/
  .sidebar {
    height: 100%; /* 100% Full-height */
    width: 200; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: rgb(37, 36, 36); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px;  /*Place content 60px from the top*/
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar__link {
    margin-top: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    padding: 12px;
    background:rgb(40, 40, 40);
    border-bottom: 0.6px solid rgb(39, 38, 38);
  }

  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1rem;
    color: rgb(147, 147, 147);
    display: flex;
    transition: 0.3s;
  }

  .sidebar__link .material-icons {
    margin-right: 12px;
    font-size: 2rem;
    color: rgb(147, 147, 147);
  }

  .sidebar__link:active {
    background: rgb(14, 13, 13);
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    /*color: #63a6f8;*/
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    color: white;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 30px;
    cursor: pointer;
    background-color: rgba(55, 61, 182, 0);
    color: rgb(235, 236, 243);
    margin-left: 0px;
    padding-left: 0px;
    border: none;
  }
  
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }
  
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }